<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PersonCategoryDao">



    <resultMap id="mapPersonVO" type="itor.example.test7.controller.PersonVO">
        <result property="personName" column="person_name"/>
        <result property="personGender" column="person_gender"/>
        <result property="personAddr" column="person_addr"/>
    </resultMap>
    
    
    
    
    <insert id="insertPersonCategory" parameterType="PersonVO">

        INSERT INTO PERSON VALUES (
                                      #{personName},
                                      #{personGender},
                                      #{personAddr}
                                  )
    </insert>
</mapper>