<html>
    <head>

    </head>
    <body>
        <form action="/test9" method="post">
            <!-- name은 VO 구분자 id는 html 구분자 -->
          name : <input type="text" name="person_name" id="person_name" placeholder="이름을 입력해주세요"><br>
        gender : <input type="text" name="person_gender" id="person_gender" placeholder="성별을 입력해주세요"><br>
          addr : <input type="text" name="person_addr" id="person_addr" placeholder="주소를 입력해주세요"><br>
        submit : <input type="submit" value="확인"><br>
        </form>
    </body>
</html>